{% extends "base.html.twig" %}

{% block title %}
	Liste des plantes
{% endblock %}

{% block body %}

	<main class="container">
		<section class="row">

			<h1>Liste des plantes</h1>

		{% for plant in plants %}
    <div class="col-2">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ plant.name }}</h3>
                <a href="#"></a>
                {% if plant.getImages|length > 0 %}
                    {% set image = plant.getImages.first() %}
                    <img src="{{ asset('assets/uploads/products/' ~ image.name) }}" alt="{{ plant.name }}" class="img-fluid">
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}



		</section>
	</main>
{% endblock %}
