<link rel="stylesheet" href={{ asset('assets/css/footer.css') }}>


<div class="footer">
	<table>
		<tbody>
			<tr>
				<td>colonne 1</td>
				<td>colonne 2</td>
				<td>colonne 3</td>
			</tr>
		</tbody>
	</table>
	<!-- DivTable.com -->

</div>
